jobs: 
  build: 
    machine: true
    steps: 
      -
        run: 
          command: |
              cd ~
              git clone git@github.com:atshvrma/student-service.git
              cd student-service
              mvn -DskipTests clean install
          name: "git clone private project"
      - checkout
      - 
        run: 
          command: "mvn -DskipTests clean install dependency:resolve-plugins dependency:go-offline"
          name: "maven build"
      - 
        run: 
          command : "docker build -t atshvrma/student-service:latest -f Dockerfile ./"
          name: "docker build"
      # - 
      #   run: 
      #     command: |
      #         docker tag $CIRCLE_PROJECT_REPONAME gcr.io/${GCLOUD_PROJECT_ID}/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1
      #         docker push gcr.io/${GCLOUD_PROJECT_ID}/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1
      #     name: "Push to GCloud Image Registry"
      #     shell: /bin/bash
    working_directory: ~/build
version: 2
workflows: 
  version: 2
  build_and_deploy: 
    jobs: 
      - build
